{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modifier mes informations{% endblock %}

{% block body %}

<div class="position-relative" style="height:50vh">
    <div>
        <img src="/assets/img/edit_infos.avif" style="height:50vh;width:100%;object-fit:cover;object-position:50% 30%">
    </div>
    <div class=" bg-warning" >
        <div class=" position-absolute top-50 start-50 translate-middle" >
            <div class="w-100 bg-light p-5 rounded text-center" style="--bs-bg-opacity: .8;">
                <h1 class="">Modifier mes informations</h1>
            </div>
        </div>
    </div>
</div>
<section class="container my-3">
    <div class="row">
        <div class="col">
            {{ form_errors(editInfosForm) }}

            {{ form_start(editInfosForm) }}

            <div class="my-3">
                <div class="d-flex gap-3 flex-column flex-md-row">
                    <div class="flex-grow-1">
                    {{ form_row(editInfosForm.first_name) }}
                    </div>
                    <div class="flex-grow-1">
                    {{ form_row(editInfosForm.last_name) }}
                    </div>
                </div>
            </div>

            <div class="my-3">
                <div class="d-flex gap-3 flex-column flex-md-row">
                    <div class="flex-grow-1">
                        {{ form_row(editInfosForm.email) }}
                    </div>
                </div>
            </div>
        
                <button type="submit" class="btn btn-primary my-3">Modifier mes informations</button>
                <a href="{{ path('app_profile_index', {'user_username': app.user.username}) }}" class="btn btn-light my-3">annuler</a>

            {{ form_end(editInfosForm) }}
        </div>
    </div>
</section
{% endblock %}
