{% extends 'base.html.twig' %}

{% block title %} SnowTricks - {{user.username}} {% endblock %}

{% block body %}
    <main class="container mt-4">
		<section class="row">
			<div class="col-12 text-center">
                <h1>Bonjour, {{ user.firstname }}</h1>
                <small>membre depuis le {{ user.createdAt|date('d/m/Y') }}</small>
            </div>

            <div class="mt-2 d-flex justify-content-center flex-column flex-md-row flex-wrap align-items-center">
                <div class="col-lg-3 mx-auto d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/users/{{ user.pictureslug ?? 'img.png'}}" class="mb-4" style="width:200px; height:200px; object-fit:cover; border-radius:50%;">
                    <button type="button" id='btnEdit' class="btn btn-light mt-2">Modifier ma photo de profil</button>
                    
                    <div id='editPictureProfil' style="display:none;">
                        {{ form_start(profilPictureForm) }}
                            {{ form_widget(profilPictureForm.profilPicture) }}
                            <button type="submit" class="btn btn-dark mt-2">Valider</button>
                            <button id="cancelBtn" type="button" class="btn btn-light mt-2">Annuler</button>
                        {{ form_end(profilPictureForm) }}
                    </div>
                </div>
                
                <div class="mt-4 col-lg-6 mx-auto">
                    <div class="m-4 ">
                        <div class="d-flex justify-content-between">
                            <h4><i class="fa-solid fa-user"></i> Mes informations</h4>
                            <a href="{{ path('app_profile_edit_infos', {'user_username': user.username}) }}" class="btn btn-light btn-sm">Modifier mes informations</a>
                        </div>
                        <hr class="my-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row">Pseudo</th>
                                    <td class="text-muted"><span >{{user.username}}</span><br><small><i>Votre pseudo ne peut pas être modifié</i></small></td>
                                </tr>
                                <tr>
                                    <th scope="row">Prénom</th>
                                    <td>{{user.firstname}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nom</th>
                                    <td>{{user.lastname}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{user.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('app_profile_edit_password', {'user_username': user.username})}}" class="btn btn-dark btn-sm">Modifier mon mot de passe</a>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <div>
                <h4 class="text-center m-4"><i class="fa-solid fa-chart-simple"></i> Mes stats</h4>
                <div class="d-flex flew-wrap gap-3 text-center">
                    <div class="card flex-grow-1">
                        <div class="card-body">
                            <h5 class="card-title">{{countTricksCreated}}</h5>
                            <p class="card-text">
                                {{countTricksCreated > 1 ? 'Figures créées' : 'Figure créée'}}
                            </p>
                        </div>
                    </div> 
                    <div class="card flex-grow-1">
                        <div class="card-body">
                            <h5 class="card-title">{{countTricksUpdated}}</h5>
                            <p class="card-text">
                                {{countTricksUpdated > 1 ? 'Figures misent à jour' : 'Figure mise à jour'}}
                            </p>
                        </div>
                    </div>
                    <div class="card flex-grow-1">
                        <div class="card-body">
                            <h5 class="card-title">{{countComments}}</h5>
                            <p class="card-text">
                                {{countComments > 1 ? 'commentaires' : 'commentaire'}}
                            </p>
                        </div>
                    </div>  
                </div>
            </div>

        </section>
    </main>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnEdit = document.getElementById('btnEdit');
        var form = document.getElementById('editPictureProfil');
        var btnCancel = document.getElementById('cancelBtn');
       
            btnEdit.addEventListener('click', function(event) {
                event.preventDefault();
                form.style.display = "block";
                btnEdit.style.display = "none";
            });

            btnCancel.addEventListener('click', function(event) {
                event.preventDefault();
                form.style.display = "none";
                btnEdit.style.display = "block";
            });

        });
    </script>

{% endblock %}
