{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Réinitialisez votre mot de passe{% endblock %}

{% block body %}
<div class="position-relative" style="height:50vh">
    <div>
        <img src="/assets/img/password.avif" style="height:50vh;width:100%;object-fit:cover;object-position:50% 60%">
    </div>
    <div class=" bg-warning" >
        <div class=" position-absolute top-50 start-50 translate-middle" >
            <div class="w-100 bg-light p-5 rounded text-center" style="--bs-bg-opacity: .8;">
                <h1 class="">Réinitialisation du mot de passe</h1>
            </div>
        </div>
    </div>
</div>
<section class="container my-3">
    <div class="row">
        <div class="col">
            {{ form_start(passForm )}}

                {% if form_errors(passForm.password.first) %}
                    <div class="alert alert-danger alert-dismissible">
                        {{ form_errors(passForm.password.first) }}
                    </div>
                {% endif  %}
                
                <div class="form-group">
                    {{ form_label(passForm.password.first) }}
                    {{ form_widget(passForm.password.first, {
                        'attr': {
                            'value': oldPassword
                        }
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_label(passForm.password.second) }}
                    {{ form_widget(passForm.password.second, {
                        'attr': {
                            'value': oldPassword
                        }
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary mt-2">Valider</button>

            {{ form_end(passForm )}}
        </div>
    </div>
</section
{% endblock %}
