{% extends 'base.html.twig' %}

{% block title %}SnowTricks - S'inscrire{% endblock %}

{% block body %}

<div class="position-relative" style="height:50vh">
    <div>
        <img src="assets/img/register.avif" style="height:50vh;width:100%;object-fit:cover;object-position:50% 20%">
    </div>
    <div class=" bg-warning" >
        <div class=" position-absolute top-50 start-50 translate-middle" >
            <div class="w-100 bg-light p-5 rounded text-center" style="--bs-bg-opacity: .8;">
                <h1 class="">Bienvenue sur SnowTricks!</h1>
            </div>
        </div>
    </div>
</div>
<section class="container my-3">
    <div class="row">
        <div class="col">
        <h2 class="">S'inscrire</h2>
        <p>Rejoignez notre communauté et commencez à partager vos figures de snowboard dès aujourd'hui.</p>
            {% if form_errors(registrationForm) %}
                    <div class="alert alert-danger alert-dismissible">
                        {{ form_errors(registrationForm) }}
                    </div>
                {% endif  %}

            {{ form_start(registrationForm) }}

            <div class="my-3">
                <div class="d-flex gap-3 flex-column flex-md-row">
                    <div class="flex-grow-1">
                    {{ form_row(registrationForm.first_name) }}
                    </div>
                    <div class="flex-grow-1">
                    {{ form_row(registrationForm.last_name) }}
                    </div>
                </div>
            </div>
            <div class="my-3">
            {{ form_row(registrationForm.username) }}
            </div>
            <div class="my-3">
                <div class="d-flex gap-3 flex-column flex-md-row">
                    <div class="flex-grow-1">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="flex-grow-1">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password',
                            'attr': {
                                'value': plainPassword
                            }
                        }) }}
                    </div>
                </div>
            </div>
                
                {{ form_row(registrationForm.RGPDConsent) }}

                <button type="submit" class="btn btn-primary my-3">S'inscrire</button>
                <a href="{{ path('app_login') }}" class="btn btn-secondary">Se connecter</a>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section
{% endblock %}
