{{ form_start(trickForm) }}
        <section>
                <img style="width: 100%;height: 90vh;object-fit: cover;" 
                    src="/assets/img/img.png">
                <div class="position-absolute top-50 start-50 translate-middle bg-light rounded p-5" style="--bs-bg-opacity: .8;">
                    {{ form_label(trickForm.name) }}
                    {{ form_widget(trickForm.name) }}
                </div>
        </section>


        <section class="container">

            {# on affiche les images si on est en édition #}
            {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
            <div class="d-flex flex-wrap justify-content-center m-2">
                {% if images|length > 0 %}
                    {% for img in images %}
                        <div class="m-2 d-flex flex-column">
                            <img src="/assets/img/tricks/{{ img.name }}"
                                style="height:300px; width:400px; object-fit:cover;"
                                alt="{{ img.name }}">
                                <div>      
                                    <a href="#" class="btn btn-secondary"><i class="fa-solid fa-pen"></i></a>
                                    <a href="{{ path('app_tricks_delete_image', {id: img.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ img.id) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                    <a href="#" class="btn btn-success">Mettre à la une</a>
                                </div>
                          </div>
                    {% endfor %}
                {% else %}
                    <div class="d-flex flex-column justify-content-center">
                        <p> Il n'y a pas encore d'images pour ce trick !</p>
                    </div>
                {% endif %}
                </div>
            {% endif %}
             <div class="col-12 mt-4">
                {{ form_label(trickForm.images) }}
                {{ form_widget(trickForm.images) }}
            </div>
            

            {# <div class="d-flex justify-content-center align-items-center">
                <div class="col-12 mt-4">
                    {{ form_label(trickForm.videoUrl) }}
                    {{ form_widget(trickForm.videoUrl) }}                
                </div>
            </div> #}
        </section>

        <hr class="m-5">

        <section class="container">
            <section class="row mb-4">
                <div class="col-12">
                    {{ form_label(trickForm.description) }}
                    {{ form_widget(trickForm.description) }}
                </div>
            </section>

            <section class="row">
                <div class="col-6">
                    {{ form_label(trickForm.category) }}
                    {{ form_widget(trickForm.category) }}
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>                
                </div>
            </section>
        </section>

        

    {{ form_end(trickForm) }}