{{ form_start(trickForm) }}
        <section>
                <img style="width: 100%;height: 90vh;object-fit: cover;" 
                    src="/assets/img//tricks/{{ trick.promoteImage.name ?? img.png }}">
                <div class="position-absolute top-50 start-50 translate-middle bg-light rounded p-5" style="--bs-bg-opacity: .8;">
                    {{ form_label(trickForm.name) }}
                    {{ form_widget(trickForm.name) }}
                    <div class="col-12 mt-4">
                        {{ form_label(trickForm.promoteImage) }}
                        {{ form_widget(trickForm.promoteImage) }}
                    </div>
                </div>
        </section>


        <section class="container">

            {# on affiche les images et les vidéos si on est en édition #}
            {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                <div class="d-flex flex-wrap justify-content-center m-2">

                    {% if images is not empty or videos is not empty %}

                        {% if images|length > 0 %}
                            {% for img in images %}
                                <div class="m-2 d-flex flex-column">
                                    <img src="/assets/img/tricks/{{ img.name }}"
                                        style="height:200px; width:300px; object-fit:cover;"
                                        alt="{{ img.name }}">
                                    <div>      
                                        <a href="#" class="btn btn-secondary"><i class="fa-solid fa-pen"></i></a>
                                        <a href="{{ path('delete_image', {id: img.id, trick_slug: trick.slug}) }}" data-delete data-token="{{ csrf_token('delete' ~ img.id) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                        <a href="#" class="btn btn-success">Mettre à la une</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {# {% if videos|length > 0 %}
                            {% for vdo in videos %}
                                <div class="m-2">
                                    <iframe height="200px" width="300px" src="{{ vdo.url|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allowfullscreen></iframe>
                                    <div>    
                                        <a href="#" class="btn btn-secondary"><i class="fa-solid fa-pen"></i></a>
                                        <a href="" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                    </div>    
                                </div>
                            {% endfor %}
                        {% endif %} #}

                    {% else %}
                        <div class="d-flex flex-column justify-content-center">
                            <p> Il n'y a pas encore d'images ou de vidéos pour ce trick !</p>
                        </div>

                    {% endif %}

                </div>
            {% endif %}
            
             <div class="col-12 mt-4">
                {{ form_label(trickForm.images) }}
                {{ form_widget(trickForm.images) }}
            </div>


            <label class="mt-4">Vidéos</label>
            <div class="videos d-flex flex-wrap gap-2"
                data-index="{{ trickForm.videos|length > 0 ? trickForm.videos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(trickForm.videos.vars.prototype)|e('html_attr') }}">
            {% for videoForm in trickForm.videos %}
                <div class="mb-2">
                    <input type="hidden" id="videoUrl_{{ loop.index }}" value="{{ videoForm.url.vars.value }}">
                    <iframe id="videoIframe_{{ loop.index }}" height="200px" width="300px" frameborder="0" allowfullscreen style="display: none;"></iframe>
                    <div class="mt-2">{{ form_row(videoForm.url) }}</div>
                    <div>    
                        <button type="button" class="btn btn-danger mt-2 delete-video" data-collection-holder-class="videos">Supprimer une vidéo</button>
                    </div>    
                </div>
            {% endfor %}

            </div>
            <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="videos">Ajouter une vidéo</button>
            {# <button type="button" class="add_item_link" data-collection-holder-class="videos">Delete a video</button> #}

        <hr class="m-5">

        <section class="container">
            <section class="row mb-4">
                <div class="col-12">
                    {{ form_label(trickForm.description) }}
                    {{ form_widget(trickForm.description) }}
                </div>
            </section>

            <section class="row">
                <div class="col-6">
                    {{ form_label(trickForm.category) }}
                    {{ form_widget(trickForm.category) }}
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>                
                </div>
            </section>
        </section>

    {{ form_end(trickForm) }}

 <script>
    document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

    document
        .querySelectorAll('ul.videos li')
        .forEach((tag) => {
            addTagFormDeleteLink(tag)
        })

    function addFormToCollection(e) {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

    const item = document.createElement('p');

    item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
        /__name__/g,
        collectionHolder.dataset.index
        );

    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;

    addTagFormDeleteLink(item);
    };

    function addTagFormDeleteLink(item) {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = 'Supprimer cette vidéo';
        removeFormButton.classList.add('btn', 'btn-danger', 'mt-2');

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            item.remove();
        });
    }

    // Videos ifram 
    document.addEventListener('DOMContentLoaded', function() {
        var deleteButtons = document.querySelectorAll('.delete-video');

        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                // 
            });
        });

        var inputs = document.querySelectorAll('[id^=videoUrl]');

        inputs.forEach(function(input) {
            var iframeId = input.getAttribute('id').replace('videoUrl', 'videoIframe');
            var url = input.value;

            if (url) {
                var iframe = document.getElementById(iframeId);
                iframe.src = url.replace('watch?v=', 'embed/');
                iframe.style.display = 'block';
            }
        });
    });
</script>

