{{ form_start(trickForm) }}
    
        <div class="position-relative">
            <img style="width: 100%;height: 90vh;object-fit: cover;" 
                src="/assets/img//tricks/{{ trick.promoteImage.name ?? 'img.png' }}">
            <div class="row">
                <div class="col-md-6 p-4 position-absolute top-50 start-50 translate-middle " >
                    <div class=' bg-light rounded p-5' style="--bs-bg-opacity: .8;">
                        <div class="w-100 text-center mb-4 " >
                            <h2>
                                {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                                    Modifier la figure
                                {% else %}
                                    Ajouter une figure
                                {% endif %}
                            </h2>
                            {% if form_errors(trickForm) %}
                                <div class="alert alert-danger alert-dismissible mt-2">
                                    {{ form_errors(trickForm) }}
                                </div>
                            {% endif  %}
                        </div>

                        <h5 class="">{{ form_label(trickForm.name) }}</h5>
                        {{ form_widget(trickForm.name) }}

                        {% if form_errors(trickForm.name) %}
                            <div class="alert alert-danger alert-dismissible mt-2">
                                {{ form_errors(trickForm.name) }}
                            </div>
                        {% endif %}

                        <div class="col-12 mt-4">
                            <h5 class=""> {{ form_label(trickForm.promoteImage) }}</h5>
                            {{ form_widget(trickForm.promoteImage) }}
                            {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                                {% if trick.promoteImage is not null and trick.promoteImage.id is not null %}
                                    <a href="{{ path('delete_image', {id: trick.promoteImage.id, trick_slug: trick.slug}) }}" data-delete data-token="{{ csrf_token('delete' ~ trick.promoteImage.id) }}" class="mt-2 btn btn-light"><i class="fa-solid fa-trash"></i> Supprimer l'image à la une</a>
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if form_errors(trickForm.promoteImage) %}
                            <div class="alert alert-danger alert-dismissible mt-2">
                                {{ form_errors(trickForm.promoteImage) }}
                            </div>
                        {% endif  %}
                    </div>
                </div>
            </div>
        </div>


        <section class="container">

            {# on affiche les images et les vidéos si on est en édition #}
            {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                <div class="d-flex flex-wrap justify-content-center m-2">

                    {% if trick.images is not empty or trick.videos is not empty %}

                        {% if trick.images|length > 0 %}
                            {% for img in trick.images %}
                                <div class="m-2 d-flex flex-column">
                                    <img src="/assets/img/tricks/{{ img.name }}"
                                        style="height:200px; width:300px; object-fit:cover;"
                                        class="rounded"
                                        alt="{{ img.name }}">
                                    <div class="mt-2 text-center">      
                                        <a href="{{ path('delete_image', {id: img.id, trick_slug: trick.slug}) }}" data-delete data-token="{{ csrf_token('delete' ~ img.id) }}" class="btn btn-light"><i class="fa-solid fa-trash"></i> Supprimer cette image</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    {% else %}
                        <div class="text-center mt-4">
                            <p> Il n'y a pas encore d'images ou de vidéos pour ce trick !</p>
                        </div>

                    {% endif %}

                </div>
            {% endif %}
            
             <div class="col-12 mt-4">
                <h5>{{ form_label(trickForm.images) }}</h5>
                {{ form_widget(trickForm.images) }}
            </div>

            {# {% if form_errors(trickForm.images) %}
                <div class="alert alert-danger alert-dismissible mt-2">
                    {{ form_errors(trickForm.images) }}
                </div>
            {% endif  %} #}


            <h5 class="mt-4">Gérer les vidéos</h5>
            <div class="videos d-flex flex-wrap gap-2"
                data-index="{{ trickForm.videos|length > 0 ? trickForm.videos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(trickForm.videos.vars.prototype)|e('html_attr') }}">
            {% for videoForm in trickForm.videos %}
                <div class="mb-2 video-container">
                    <iframe 
                        class="video-iframe"
                        height="200px" width="300px" frameborder="0" allowfullscreen 
                        style="display: none;"
                        data-url="{{ videoForm.url.vars.value }}"
                    ></iframe>
                    <div class="mt-2">{{ form_row(videoForm.url) }}</div>  
                </div>
            {% endfor %}

            </div>
            <button type="button" class="add_item_link btn btn-dark" data-collection-holder-class="videos"><i class="fa-solid fa-plus"></i> Ajouter une vidéo</button>
            {% if trickForm.videos|length == 0 %}
            <div class="d-none">{{ form_widget(trickForm.videos) }}</div>
            {% endif %}


        <hr class="my-5">

        <section class="container">
            <section class="row">
                <div class="col-6 mb-4">
                    <h5>{{ form_label(trickForm.category) }}</h5>
                    {{ form_widget(trickForm.category) }}
                </div>
                <div class="col-12">
                    <h5>{{ form_label(trickForm.description) }}</h5>
                    {{ form_widget(trickForm.description) }}
                </div>
            </section>

            <section class="row">
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-dark">{{ button_label|default('Ajouter') }}</button>                
                </div>
            </section>
        </section>

    {{ form_end(trickForm) }}

 <script>

    const deletedVideos = [];

    document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

    document
        .querySelectorAll('ul.videos li')
        .forEach((tag) => {
            addTagFormDeleteLink(tag)
        })

    function addFormToCollection(e) {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

    const item = document.createElement('div');
    item.id = `video-${collectionHolder.dataset.index}`
    item.classList.add('mb-2', 'video-container');
    
    const itemHtml = collectionHolder
        .dataset
        .prototype
        .replace(
        /__name__/g,
        collectionHolder.dataset.index
        );

    item.innerHTML =`<iframe class="video-iframe" 
        height="200px" width="300px" 
        frameborder="0" 
        allowfullscreen="" 
        style="display: none;"
        data-url="" 
        src="">
    </iframe>
    <div class="mt-2">
        ${itemHtml}
    </div>
    `

    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;

    const input = item.querySelector('input')

    input.addEventListener('change', (event) => {
        const url = event.target.value
        const iframe = event.target.closest('.video-container').querySelector('iframe')
        iframe.src = url.replace('watch?v=', 'embed/');
        iframe.style.display = 'block';


    })

    addTagFormDeleteLink(item);
    };

    function addTagFormDeleteLink(item) {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerHTML = `<i class="fa-solid fa-trash"></i> Supprimer cette vidéo`;
        removeFormButton.classList.add('btn', 'btn-light', 'mt-2');

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            item.remove();
        });
    }

    // Videos iframe 
    document.addEventListener('DOMContentLoaded', function() {
        var videoContainers = document.querySelectorAll('.video-container');

        videoContainers.forEach(function(video) {

            addTagFormDeleteLink(video)

            const iframe = video.querySelector('iframe')

            const url = iframe.dataset.url

            if (url) {
                iframe.src = url.replace('watch?v=', 'embed/');
                iframe.style.display = 'block';
            }
        });
    });
</script>

