{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}


		<section class="row">
			<div class="col-12">
                <img style="width: 100%;height: 90vh;object-fit: cover;" 
                    src="/assets/img/8_33.jpg">
				<div class="position-absolute top-50 start-50 translate-middle bg-light rounded p-5" style="--bs-bg-opacity: .8;">
                    <h1>{{ trick.name }}</h1>
                    <p>{{ promote_image.id }}_{{ trick.id }}.{{ promote_image.extension }}</p>
                </div>
			</div>
		</section>

        <section class="row">
            <div class="col-12 d-flex align-content-start overflow-scroll ">
            {% for img in images %}
                <div>
                    <p>{{ img.id }}_{{ trick.id }}.{{ img.extension }}</p>
                    <img src="/assets/img/{{ img.id }}_{{ trick.id }}.{{ img.extension }}"
                        alt="{{ img.id }}_{{ trick.id }}.{{ img.extension }}">
                </div>
            {% endfor %}


            </div>
        </section>

        <main class="container">
            <section class="row">
                <div class="col-12">
                    <p>{{ trick.description }}</p>
                </div>
            </section>

            <section class="row">
                <div class="col-12 d-flex">
                    <p class="border rounded p-3" style="width:fit-content">
                        Catégorie : {{ trick.category.name }}
                    </p>
                    <p class="border rounded p-3" style="width:fit-content">
                        Création : {{ created_at|date('d/m/Y à H:i') }}
                    </p>
                    {% if(updated_at != null) %}
                    <p class="border rounded p-3" style="width:fit-content">
                        Dernière modification : {{ updated_at|date('d/m/Y à H:i') }}
                    </p>
                    {% endif %}
                </div>
            </section>
        </main>

{% endblock %}