{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

		<section>
                <img style="width: 100%;height: 100vh;object-fit: cover;" 
                    src="/assets/img/tricks/{{ trick.promoteImage.name }}">
                <div class="row">
                    <div class="col-lg-6 p-4 position-absolute top-50 start-50 translate-middle" >
                        <div class="w-100 bg-light rounded p-5 text-center" style="--bs-bg-opacity: .8;">
                            <h1>{{ trick.name }}</h1>

                            {% if is_granted('ROLE_USER') %}
                                <div class="mx-2 d-flex gap-2 justify-content-center">
                                    <a href="{{ path('app_tricks_edit', {'slug' : trick.slug})}}" class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
                                    <a href="#" data-slug="{{ trick.slug }}" data-bs-toggle="modal" data-bs-target="#deleteTrick{{ trick.id }}" class="btn btn-light"><i class="fa-solid fa-trash deleteTrick"></i> Supprimer</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
		</section>

        {# {% if is_granted('ROLE_ADMIN') %}
            <a href="...">Delete</a>
        {% endif %} #}
        <section>
            <div class="d-flex m-2 flex-wrap justify-content-center">
            {% if images is not empty or videos is not empty %}

                {% if images|length > 0 %}
                    {% for img in images %}
                        <div class="m-2">
                            <a href="#" class="openPopUp" data-bs-toggle="modal" data-bs-target="#openPopUp" data-image="/assets/img/tricks/{{ img.name }}">
                                <img src="/assets/img/tricks/{{ img.name }}"
                                    style="height:200px; width:300px; object-fit:cover;"
                                    alt="{{ img.name }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if videos|length > 0 %}
                    {% for vdo in videos %}
                        <div class="m-2">
                            <iframe height="200px" width="300px" src="{{ vdo.url|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                {% endif %}

            {% else %}
                <div class="text-center my-4">
                    <p> Il n'y a pas encore d'images ni de vidéos pour ce trick !</p>
                </div>
            {% endif %}
            </div>
        </section>

        <main class="container">
            <section class="row my-4">
                <div class="col-lg-6 col-md-8 mx-auto rounded bg-light p-4 m-2">
                    <h4 class="text-center mb-4">Description</h4>
                    <p class="">{{ trick.description }}</p>
                </div>
            </section>

            <section class="row">
                <div class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center flex-wrap">
                    <p class="border rounded px-3 py-2 m-2" style="width:fit-content">
                        Catégorie : {{ trick.category.name }}
                    </p>
                    <p class="border rounded px-3 py-2 m-2" style="width:fit-content">
                        Création : {{ created_at|date('d/m/Y à H:i') }}
                    </p>
                    {% if(updated_at != null) %}
                    <p class="border rounded px-3 py-2 m-2" style="width:fit-content">
                        Dernière modification : {{ updated_at|date('d/m/Y à H:i') }}
                    </p>
                    {% endif %}
                </div>
            </section>
        </main>

        {% if is_granted('ROLE_USER') %}
            <hr class="my-5">

            <section>
                <div class="d-flex flex-column justify-content-center text-center">
                    <h4>Laisser un commentaire</h4>
                    <div class="col-lg-6 mx-auto mt-4">
                        {% include "comments/_comments_form.html.twig" %}
                    </div>
                </div>
            </section>
        {% endif %}
        
        <hr class="my-5">

        {% if comments|length > 0 %}
            <section class="col-md-8 col-lg-6 mx-auto">
            <h4 class="text-center mb-4" id="comments">Commentaires</h4>
                {% for comment in comments.data %}
                    {% if app.user.username is defined and app.user.username == comment.user.username %}
                        <div class="d-flex gap-2 my-3 w-75 ms-auto  mx-4">
                            
                            <div class="bg-light px-4 py-3 rounded flex-grow-1">
                                <div>
                                    <small>
                                        <span class="fw-bold">@{{ comment.user.username }}</span><br>
                                        <span class="fw-light">{{ comment.createdAt|date('d/m/Y à H:i') }}</span><br>
                                    </small>
                                </div>
                                <div class="mt-2">{{ comment.content }}</div>
                            </div>
                            <div>
                                <img src="/assets/img/users/{{comment.user.pictureslug ?? 'img.png' }}" style="width:50px; height:50px; object-fit:cover; border-radius:50%;">
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex gap-2 my-3 w-75 mx-4">
                        <div>
                            <img src="/assets/img/users/{{comment.user.pictureslug ?? 'img.png' }}" style="width:50px; height:50px; object-fit:cover; border-radius:50%;">
                        </div>
                        <div class="bg-light px-4 py-3 rounded flex-grow-1">
                            <div>
                                <small>
                                    <span class="fw-bold">@{{ comment.user.username }}</span><br>
                                    <span class="fw-light">{{ comment.createdAt|date('d/m/Y à H:i') }}</span><br>
                                </small>
                            </div>
                            <div class="mt-2">{{ comment.content }}</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </section>

            {% if comments|length > 0 %}
                {% set pages = comments.pages %}
                {% if pages > 1 %}
                    <div class="mx-auto" style="width:fit-content;">  
                        {% set currentPage = comments.page %}
                        {% include '_partials/_comments_pagination.html.twig' with {'slug': trick.slug, 'path': 'app_tricks_details' , 'currentPage': currentPage} %}
                    </div>
                {% endif %}
            {% endif %}

        {% else %}
              <p class="text-center">Il n'y aucun commentaires pour cette figure.</p>  
        {% endif %}

        {% include 'tricks/_delete_trick.html.twig' with {'trick': trick, 'deleteForms': deleteForms} %}
        {% include 'tricks/_popup_image.html.twig' %}

{% endblock %}

